/*Homepage*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #E47297;
	opacity: 1;
}
#hamburger{
	display: none;
	float: right;
	width: 8%;
    margin-right: 10px;
    padding: 20px;
    position: relative;
    top: 5px;
}
header{
	overflow: hidden;
}
img{
	padding-top: 5px;
    padding-left: 5px;
}
nav{
	position: relative;
    bottom: 146px;
    left: 163px;
}
li{
	font-size: 22px;
    list-style-type: none;
    float: left;
    width: 15%;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
a{
	text-decoration: none;
	color: white;
}
.currentPage{
	border-bottom: 3px solid;
}
h1{
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 50px;
	position: relative;
    bottom: 83px;
}
#homepageMain{
	height: 825px;
	background-image: url(../images/image1.jpg);
	background-size: cover;
	position: relative;
    bottom: 25px;
    background-position: center center;
}
button{
	position: relative;
    top: 242px;
    left: 445px;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    background-color: rgba(156,28,107,.5);
    border-color: rgb(255,233,232);
    padding: 10px;
}
#buttonWords{
	font-weight: bolder;
	color: #FFE9E8;
}
.footer{
	text-align: center;
	font-family: 'Playfair Display', serif;
}

/*ABOUT*/

#aboutHeader{
	float: right;
	right: 375px;
}
section{
	float: right;
	width: 50%;
	line-height: 1.5;
	font-family: 'Playfair Display', serif;
	padding-right: 50px;
	position: relative;
    bottom: 450px;
}
#about1{
	margin-bottom: 0px;
    margin-top: 10px;
}
#lisaImage{
	overflow: hidden;
	padding: 0px;
	margin-left: 135px;
	border: 5px solid #FFE9E8;
	border-radius: 10%;
}
#caption{
	margin-left: 215px;
}
#aboutMain{
	margin-bottom: 15%;
}
footer{
	    margin-top: 30%;
}
#aboutFooter{
	position: relative;
    left: 17%;
}

/*CONTACT*/

#contactMain{
	text-align: center;
}
h2{
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 3%;
}
form{
	font-family: 'Roboto Condensed', sans-serif;
	width: 500px;
    margin: auto;
    background-color: rgba(255,255,255,.5);
    padding: 30px;
    border: 3px solid #FFE9E8;
    border-radius: 10%;
}
label{
	font-size: 18px;
}
input{
	padding: 5px;
	margin-bottom: 10px;
	font-size: 12px;
}
#emailInput{
	margin-bottom: 20px;
	width: 195px;
}
textarea{
	height: 170px;
    width: 400px;
    font-size: 12px;
}
#styledAlert{
	display: none;
	background-color: white;
	border: 3px solid #9C1C6B;
	margin: auto;
	width: 400px;
	padding: 50px;
	opacity: 1;
	position: relative;
    bottom: 350px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFE9E8;
    color: #9C1C6B;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    border-radius: 10%;
}

/*CALENDAR*/

#calendarMain{
	text-align: center;
}
iframe{
	width: 85%;
	border: solid #FFE9E8;
	border-width: 8px;
    border-radius: 2%;
}
p{
	font-size: 14px;
	font-family: 'Playfair Display', serif;
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
}
span{
	font-weight: bold;
	font-size: 18px;
}

/*PHOTOS*/

/* Prevent the slideshow from flashing on load */
#slides {
display: none;
}

/* Center the slideshow */
.container {
margin: 0 auto;
margin-top: -60px;
}

/* Show active item in the pagination */
.slidesjs-pagination .active {
color: purple;
}
.slidesjs-pagination-item{
	width: 6%;
	position: relative;
    bottom: 30px;
}
.slidesjs-previous{
	z-index: 10;
    margin-right: 83%;
    margin-left: 2%;
    font-size: 30px;
    position: relative;
    bottom: 350px;
    background: rgba(156,28,107,.5);
    color: white;
    border-radius: 10%;
}
.slidesjs-next{
	z-index: 10;
    font-size: 30px;
    position: relative;
    bottom: 350px;
    background: rgba(156,28,107,.5);
    color: white;
    border-radius: 10%;
}
/* Media quires for a responsive layout */

/* For tablets & smart phones */
@media (max-width: 767px) {
body {
padding-left: 10px;
padding-right: 10px;
}
.container {
width: auto
}
}

/* For smartphones */
@media (max-width: 480px) {
.container {
width: auto
}
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
.container {
width: 724px
}
}

/* For larger displays */
@media (min-width: 1200px) {
.container {
width: 1170px
}
}

/* FUNDRAISING */

#fundraiser{
	line-height: 25px;
	border: 5px solid #FFE9E8;
    padding: 10px;
    border-radius: 2%;
}

/* MEDIA QUERIES */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	/* HOMEPAGE */
	.dropDown{
		display: none;
		float: none;
		width: 97%;
	}
	#hamburger{
		display: block;
		width: 100%;
		margin: none;
		border: none;
	}
	a img{
		width: 23%;
	}
	ul .dropDown{
	text-align: left;
    position: relative;
    right: 5%;
	}
	h1{
	font-size: 38px;
	bottom: 146px;
    left: 6%;
	}
	#homepageMain {
    height: 350px;
    }
    button{
    	top: 0px;
    	left: 21%;
    	padding: 2%;
    	font-size: 18px;
    }
    /*ABOUT*/

    #caption{
    	margin-left: 0px;
    	position: relative;
        top: 85px;
        right: 38%;
    }
    #lisaImage{
    	margin-left: 0px;
    	margin-right: 2%;
    	float: left;
    	margin-bottom: -19%;
    	width: 40%;
        position: relative;
        bottom: 129px;
    }
    section{
    	float: none;
    	margin-top: 350px;
    	margin-left: 42%;
    	padding: none;
    	position: block;
    	width: inherit;
    }
    #about1, #about2{
    	width: initial;
    }

    /*CONTACT*/

    form{
    	width: 375px;
    	position: relative;
        bottom: 85px;
    }
    textarea{
    	width: 310px;
    }
    h2{
    position: relative;
    bottom: 95px;
    }

    /*CALENDAR*/
    .h1MediaFix{
    font-size: 42px;
    bottom: 150px;
    }
    p{
    position: relative;
    bottom: 80px;
    }

    /*FUNDRAISING*/
    #aboutFooter{
    	left: 3%;
    }
    #fundraiser{
    position: relative;
    bottom: 75px;
    }

/*PHOTOS*/

    .slidesjs-previous{
    	bottom: 150px;
    }
    .slidesjs-next{
    	bottom: 150px;
    	left: -90px;
    }
   }
